.spacer3 {
    margin-top: 30px;
}

.padded3 {
    padding-top: 30px;
}

.padded5top {
    padding-top: 5px;
}

.padded5bottom {
    padding-bottom: 5px;
}

.padded3top {
    padding-top: 3px;
}

.padded3bottom {
    padding-bottom: 3px;
}

.padded2top {
    padding-top: 2px;
}

.padded2bottom {
    padding-bottom: 2px;
}

.spacer5 {
    margin-bottom: 5px;
}

.spacer10 {
    margin-bottom: 10px;
}

.spacer1bottom {
    margin-bottom: 5px;
}

.spacer2 {
    margin-top: 20px;
}

.spacer1 {
    margin-top: 10px;
}

.marginright10 {
    margin-right: 10px;
}

.navbar .divider-vertical {
    border-left: 1px solid #1DD2AF;
}

.float-right {
    float: right;
}

.colored {
    background-color: #33485D;
    background-image: linear-gradient(to bottom, #2C3E50, #3E5771);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.colored-danger {
    background-color: #E95D4E
}

.border-danger {
    border: 3px solid #1DD2AF;
}

.inverse-colored {
    background-color: #1DD2AF;
}

.has-switch span.switch-primary, .has-switch span.switch-left {
    background-color: #005FCC;
    background-image: linear-gradient(to bottom, #0044CC, #0088CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.control-group .control-label.details {
    text-align: left;
    width: 20px;
    cursor: pointer;
    font-weight: bolder;
    font-size: large;
}

.form-horizontal .control-label.switchcontrol {
    width:200px;
    margin-right:60px;
}

.form-horizontal .controls.switchcontrol{
    margin-left: 210px;
}


.form-horizontal .control-label.editVenue {
    text-align: left;
    width: 120px;
}

.form-horizontal .controls.editVenue {
    margin-left: 120px;
}

.form-horizontal .controls.editVenue input[type="text"], textarea {
    font-weight: bold;
    width: 300px;
}

.form-horizontal .control-group.editVenue {
    margin-bottom:0;
}

.switchcontrol {
}

.popover-title {
    background-color: #F5F5F5;
    font-weight: bold;
    /*background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);*/
}

.popover {
    background-color: #ECF0F1;
    color: #33485D;
    border: 2px solid #1DD2AF;
    max-width: 400px;
}

.popover.right .arrow:after {
    border-right-color: #1DD2AF;
    bottom: -13px;
}

.popover.left .arrow:after {
    border-left-color: #1DD2AF;
    bottom: -13px;
}

input.error {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

label.error {
    color: #b94a48;
    font-style: italic;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    font-size: 15px;
    line-height: 20px;
    color: #95a5a6;
    vertical-align: middle;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-color: #ee5f5b;
}

.text-left-important {
    text-align: left!important
}

.nomargin {
    margin: 0 0 0 0;
}

.wellbackground {
    background-color: #ECF0F1;
}

.div-anonymous {
    width: 90px;
    margin-right: 52px;
    margin-top: 5px
}

.label-anonymous {
    cursor: default;
    font-size: smaller;
    display: inline;
}