@(headerData: util.UserUtils.HeaderData)
<div class="page-header">
    <h3><img src="@headerData.avatarUrl" width="40px" height="40px"/>@headerData.greeting</h3>
</div>

@*
<div class="page-header">
<h2><img src="@user.avatarUrl" width="40px" height="40px"/> Hi there, @user.firstName</h2>
</div>

<div class="page-header">
<h3><img src="@user.avatarUrl" width="40px" height="40px"/> Hi there, @user.firstName</h3>
<div class="spacer3"></div>
</div>

<div class="page-header">
<h3>
@maybeUser.fold {
Hi there
} { user => <img src="@user.avatarUrl" width="40px" height="40px" /> Hi there, @user.firstName}
</h3>
</div>*@
