@main("About") {
    <div class="page-header">
        <h2>About this application</h2>
        <div class="spacer3"></div>
    </div>
    <div class="row">
        <div class="span12">
            <h4>Toy app to determine popular or potential locations for LSCC Code-and-Coffee sessions</h4>
        </div>
    </div>
    <div class="spacer2"></div>
    <div class="row">
        <div class="span12">
            <div class="accordion" id="questions">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle btn text-left-important" data-toggle="collapse" data-parent="#questions"
                        href="#idea">Idea</a>
                    </div>
                    <div id="idea" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <p>See venues and votes. Figure out what's hot. </p>
                            <p>Login with meetup account. </p>
                            <p>Vote for a proposed venue, or enter a new one. </p>
                            <p>???</p>
                            <p>Profit</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle btn text-left-important" data-toggle="collapse" data-parent="#questions"
                        href="#why">Why the hell?</a>
                    </div>
                    <div id="why" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <p>Noticed the popularity of evening sessions, and was hoping to see a venue in my area. <br/>
                                Then I wondered if others, too, were hoping for the same thing.
                            </p>
                            <p>And what better way for human interaction is there, if not developing a web application?  </p>
                            <p>All this, while I was longing to write some nifty, functional code. <br/>
                                One thing led to another. </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle btn text-left-important" data-toggle="collapse" data-parent="#questions"
                        href="#but">But..</a>
                    </div>
                    <div id="but" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <p>Yes, I'm aware of the Meetup polls-feature. </p>
                            <p>But hey, why use an existing wheel, when you can use Scala to create a new one?</p>
                            <p>Also: adding new locations on the fly.  <br/>
                               Figuring out whether Meetup allows for this kind of thing: way more complicated than writing this app. </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle btn text-left-important" data-toggle="collapse" data-parent="#questions"
                        href="#tech">Tech details</a>
                    </div>
                    <div id="tech" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <p>Github repo: <a href="http://bitbucket.org/teodanciu/codeandcoffee">here</a></p>
                            <p>Scala</p>
                            <p>Play</p>
                            <p>MongoDB</p>
                            <p>Twitter Bootstrap</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle btn text-left-important" data-toggle="collapse" data-parent="#questions"
                        href="#contact">Contact</a>
                    </div>
                    <div id="contact" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <p><a href="http://twitter.com/teozaurus">@@teozaurus</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}