@(elements: helper.FieldElements)

<div class="control-group editVenue @if(elements.hasErrors) {control-group.error}" >
    <label for="@elements.id" class="control-label editVenue">@elements.label</label>
    <div class="controls editVenue">
        @elements.input
    </div>
    <span class="help-inline">@elements.infos.mkString(", ")</span>
</div>
