@(venue: Venue, venueForm: Form[Venue])(user: securesocial.core.Identity)(implicit request: RequestHeader)

@import helper._
@import util.UserUtils.buildHeaderData
@implicitFieldConstructor = @{
    FieldConstructor(bootstrapInputFormHorizontal.f)
}

@main("Edit Venue") {

    @page.header(buildHeaderData(Left(user)))

    @page.title {
        Edit Venue at @venueForm.value.map(_.postcode)
    }

    <div class="row">
        <div class="span7">
            <div class="well padded3">
                @helper.form(action = routes.VenueController.saveVenue(venue.postcode), 'class -> "form-horizontal") {
                    @helper.inputText(venueForm("name"))
                    @helper.inputText(venueForm("details.address"), '_label -> "address")
                    @helper.inputText(venueForm("details.contact"), '_label -> "contact")
                    @helper.textarea(venueForm("details.notes"), '_label -> "notes")

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-danger">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}