@(message: String)

@import service.VenueService

@main("Code and Coffee") {

    <script type="text/javascript">
        $(document).ready(function() {
            initializeSwitch();
            initializeMapPopup();
            initializeNewVenueValidator();
        });
    </script>

    <div class="page-header">
        <h2>Hi there!</h2>
        <div class="spacer3"></div>
    </div>
    <div class="row">
        <div class="span5">
            <h4>Choose from existing venues:</h4>
        </div>
        <div class="span2"> </div>
        <div class="span5">
            <h4>Add new one:</h4>
        </div>
    </div>

    <div class="row">
        <div class="span5">
            <div class="well padded3">
                <form class="form-horizontal">
                    <div id="venues">
                        <div id="oldVenues">
                        @for(venue <- VenueService.mockVenues) {
                            <div class="control-group" id="control-group-@venue.postcode">
                                <a id="popup-@venue.postcode" class="control-label details pop" data-placement="left"><</a>
                                <script type="text/javascript">
                                   generatePopupTitle("@venue.postcode")
                                   generatePopupContent("@venue.name", "@venue.postcode", "@routes.VenueController.venuesPage(Some(venue.postcode))")
                                </script>
                                <label class="control-label" for="@venue.postcode">@venue.name</label>
                                <div class="controls">
                                    <div class="switch" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove'></i>">
                                        <input class="venueCheckbox" id="@venue.postcode" name="@venue.name" type="checkbox">
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                        <div id = "newVenues">
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="button" class="btn btn-danger" onclick="confirmAndSendVoteToServer(collectChoice())">save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="span2 text-center vertical-center">
            <span class="label label-inverse inverse-colored"> OR </span>
        </div>
        <div class="span5">
            <div class="well padded3">
                <form id="newVenueForm">
                    <fieldset>
                        <input name="newVenue" id="newVenue" type="text" class="input-block-level" placeholder="Name.." required>
                        <input name="newPostcode" id="newPostcode" type="text" class="input-block-level" placeholder="Postcode.." required>

                        <div class="pull-right">
                            <input id="newVenueButton" type="button" class="btn btn-primary" value="add" onclick="validateNewVenueFormAndSendIfValid()">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
}