@(loginForm: Form[(String, String)], errorMsg: Option[String] = None)(implicit request: RequestHeader)

    @import helper._
    @import securesocial.core.Registry
    @import securesocial.core.AuthenticationMethod._
    @import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword



    @main(Messages("securesocial.login.title")) {

        @Application.break(1)
        @*<div class="page-header">*@
        @*<h1>@Messages("securesocial.login.title")</h1>*@
        @*</div>*@
        @errorMsg.map { msg =>
            <div class="alert alert-error">
                @Messages(msg)
            </div>
        }

        @request.flash.get("success").map { msg =>
            <div class="alert alert-info">
                @msg
            </div>
        }

        @request.flash.get("error").map { msg =>
            <div class="alert alert-error">
                @msg
            </div>
        }

        @defining(Registry.providers.get("meetup")) { meetupProvider =>
            <div class="clearfix">
                @Application.break("Using meetupProvider: "  + meetupProvider)
                <div class="well">
                    <p>@Messages("securesocial.login.instructions")</p>
                    <p>
                    @provider(meetupProvider.get.id)
                    </p>
                </div>
            </div>
        }
    }