@(maybeUser: Option[securesocial.core.Identity])
@import util.UserUtils.buildHeaderData

@main("Results") {
    <script src="@routes.Assets.at("javascripts/jquery.jqplot.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jqplot.barRenderer.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jqplot.categoryAxisRenderer.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jqplot.pieRenderer.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jqplot.highlighter.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/results.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.jqplot.css")">


    <script class="code" type="text/javascript">
        $(document).ready(function(){
           initializeChart();
        });
    </script>

    @page.header(buildHeaderData(Right(maybeUser)))

    @page.title {
        Current Voting Results
    }

    <div class="well">
        <div class="row">
                <div id="chart" style="margin-top: 0 px ; margin-left: 20 px; width: 600"></div>
        </div>
    </div>

}