@(venue: SelectableVenue, active: Boolean)
@if(active) {
    <script type="text/javascript">
        createMap('map-canvas-@venue.venue.postcode', '@venue.venue.postcode')
    </script>
}

<div class="spacer10"></div>

<div class="row">
    <div class="span3">
        <h5 class="nomargin"><strong>@venue.venue.name</strong> </h5>
        <h5 class="nomargin">(@venue.venue.postcode)</h5>

        <br>

        @if(venue.venue.venueDetails.isDefined){
                @defining(venue.venue.venueDetails.get) { details =>
                    @if(details.address.isDefined) {
                        <p class="muted nomargin">Address</p>
                        <address> @details.address.get </address>
                    }
                    @if(details.contact.isDefined) {
                        <p class="muted nomargin spacer1">Contact</p>
                        <address> @details.contact.get </address>
                    }
                    @if(details.notes.isDefined) {
                        <p class="muted nomargin spacer1">Notes</p>
                        <address> @details.notes.get </address>
                    }
                }
        }
        <div class="row">
            <div class="span3">
            @if(venue.selected) {
                <a href ="@routes.VenueController.editVenuePage(venue.venue.postcode)" class="btn btn-danger">Edit</a>
            }
            </div>
        </div>

    </div>
    <div class="span5">
        <div id="map-canvas-@venue.venue.postcode" style="width:380px; height:300px;"></div>
    </div>
</div>