@(venues: List[SelectableVenue], activePostcode: String)(maybeUser: Option[securesocial.core.Identity])
@import util.UserUtils.buildHeaderData

@main("Venues") {
    @page.header(buildHeaderData(Right(maybeUser)))

    @page.title{
        Currently proposed venues
    }

    <div class="well">
        <div class="row">
            <div class="span12">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        @for(venue <- venues;
                            active = venue.venue.postcode == activePostcode) {
                            <li class="@{ if(active) "active"}">
                                <a href="#venue-@venue.venue.postcode" onclick="createMap('map-canvas-@venue.venue.postcode', '@venue.venue.postcode')" data-toggle="tab">@venue.venue.name</a>
                            </li>
                        }
                    </ul>

                    <div class="tab-content">
                    @for(venue <- venues;
                        active = venue.venue.postcode == activePostcode) {
                        <div class="tab-pane @{ if(active) "active"}" id="venue-@venue.venue.postcode">
                            @venueDetail(venue, active)
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>

}