@(selectableVenues: List[SelectableVenue], user: securesocial.core.Identity, anonymous: Boolean)(implicit request: RequestHeader)
@import util.UserUtils.buildHeaderData

@main("Vote venue") {

    <script type="text/javascript">
        $(document).ready(function() {
            initializeSwitch();
            initializeMapPopup();
            initializeNewVenueValidator();
        });

        var userId = "@{user.identityId.userId}"

    </script>

    @page.header(buildHeaderData(Left(user)))

    <div class="row">
        <div class="span6">
            <h4>Choose from existing venues:</h4>
        </div>
        <div class="span1"> </div>
        <div class="span5">
            <h4>Add new one:</h4>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <div class="well padded3">
                <form class="form-horizontal" method="POST">
                    <div id="venues">
                        <div id="oldVenues">
                        @for(venue <- selectableVenues) {
                            <div class="control-group" id="control-group-@venue.venue.postcode">
                               <a id="popup-@venue.venue.postcode" class="control-label details pop" data-placement="top"><</a>
                               <script type="text/javascript">
                                  generatePopupTitle("@venue.venue.postcode")
                                  generatePopupContent("@venue.venue.name", "@venue.venue.postcode", "@routes.VenueController.venuesPage(Some(venue.venue.postcode))")
                               </script>
                                <label class="control-label switchcontrol" for="@venue.venue.postcode">@venue.venue.name</label>
                                <div class="controls switchcontrol">
                                    <div class="switch" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove'></i>">
                                        <input class="venueCheckbox" id="@venue.venue.postcode" name="@venue.venue.name" type="checkbox">
                                        <script type="text/javascript">
                                            selectIfNecessary("@venue.venue.postcode", "@venue.selected")
                                        </script>
                                    </div>
                                </div>
                            </div>
                        }

                        </div>
                        <div id = "newVenues">
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="button" class="btn btn-danger pull-left" onclick="confirmAndSendVoteToServer(collectChoice())">
                                vote</button>
                            <div class="pull-right div-anonymous">
                                <span>
                                    <input id="anonymous" type="checkbox">
                                    <label for="anonymous" class="label-anonymous">Anonymous </label>
                                    <script type="text/javascript">
                                         selectIfNecessary("anonymous","@anonymous")
                                    </script>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="span1 text-center vertical-center">
            <span class="label label-inverse inverse-colored"> OR </span>
        </div>
        <div class="span5">
            <div class="well padded3">
                <form id="newVenueForm">
                    <fieldset>
                        <input name="newVenue" id="newVenue" type="text" class="input-block-level" placeholder="Name.." required>
                        <input name="newPostcode" id="newPostcode" type="text" class="input-block-level" placeholder="Postcode.." required>

                        <div class="pull-right">
                            <input id="newVenueButton" type="button" class="btn btn-primary" value="add" onclick="validateNewVenueFormAndSendIfValid()">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
}